<!-- list DB -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Admins</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let admin of administrators">
                        <td>{{admin.id}}</td>
                        <td>{{admin.email}}</td>
                        <td>{{admin.username}}</td>
                        <td>
                            <button (click)="deleteAdministrator(admin)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- UI creation -->
    <form [formGroup]="adminForm">
        <div class="row align-items-end">

            <div class="col-4">
                <label>email</label>
                <input type="text" placeholder="john.do@example.com" class="form-control" id="email"
                    formControlName="email">
            </div>
            <div class="col-4">
                <label>Username</label>
                <input type="text" placeholder="john" class="form-control" id="username" formControlName="username">
            </div>
            <div class="col-4">
                <button type="submit" (click)="createAdministrator()" class="btn btn-primary mb-3">Create</button>
            </div>
        </div>
    </form>
</div>